<% layout('/partials/layout.ejs') -%>
<% block('page_title', '多列滚动') -%>
<% block('page_css', '/styles/pages/column.css') -%>
<% block('page_js', '/scripts/pages/column.js') -%>

<div class="swiper-container">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
      <div class="swiper-slide">
         <img src="//mint-public.nosdn.127.net/mint_1523525770686_69623260.jpg">
      </div>
   </div>

</div>