<!--http://go.163.com/2017/0905/h5/?from=timeline-->
<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'index') -%>
<% block('page_css', '/styles/pages/effect.css') -%>
<% block('page_js', '/scripts/pages/effect.js') -%>

<div class="swiper-container swiper-big">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
         <img src="/images/pages/sd1.png"/>
      </div>
      <div class="swiper-slide">
         <img src="/images/pages/sd2.png"/>
      </div>
      <div class="swiper-slide">
         <img src="/images/pages/sd3.png"/>
      </div>
      <div class="swiper-slide">
         <img src="/images/pages/sd4.png"/>
      </div>
      <div class="swiper-slide">
         <img src="/images/pages/sd5.png"/>
      </div>
      <div class="swiper-slide">
         <img src="/images/pages/sd6.png"/>
      </div>
      <div class="swiper-slide">
         <img src="/images/pages/sd7.png"/>
      </div>
      <div class="swiper-slide">
         <img src="/images/pages/sd8.png"/>
      </div>
      <div class="swiper-slide">
         <img src="/images/pages/sd9.png"/>
      </div>
   </div>
</div>