<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'index') -%>
<% block('page_css', '/styles/pages/swiper.css') -%>
<% block('page_js', '/scripts/pages/swiper.js') -%>
<div class="test-swiper js-swiper">
   <a class="arrow-left" href="javascript:;"></a>
   <a class="arrow-right" href="javascript:;"></a>
   <div class="swiper-container">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499827234269_76361284.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499414887742_22929940.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499331337403_15341848.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499331266320_44350465.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499331226064_27969091.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499331194569_24944687.png?imageView&thumbnail=72y72&quality=85">
         </div>

         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499331039390_35165096.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499330992885_26697370.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499330911840_21555256.png?imageView&thumbnail=72y72&quality=85">
         </div>

         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499330835031_89026272.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499325816466_65010412.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499156581461_44877616.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499331039390_35165096.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499330992885_26697370.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499330911840_21555256.png?imageView&thumbnail=72y72&quality=85">
         </div>

         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499330835031_89026272.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499325816466_65010412.png?imageView&thumbnail=72y72&quality=85">
         </div>
         <div class="swiper-slide">
            <img src="http://mint-public.nosdn.127.net/mint_1499156581461_44877616.png?imageView&thumbnail=72y72&quality=85">
         </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
   </div>
</div>